:root {
    --primary-color- : #EF8683;
    --secondary-color- : #363636;
    --tertiary-color-: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--secondary-color-);

}

/* Header Style Starts */
header {
    background: var(--secondary-color-);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}

header .shift-left {
    background-color: var(--primary-color-);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

header h1 {
    font-size: 50px;
    text-align: center;
    color: var(--tertiary-color-);
    padding: 20px;

}

header nav {
    margin-top: 50px;
    
}

header nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    border-bottom: thin solid var(--primary-color-);
    color: var(--primary-color-);
    padding: 15px;
    margin: 5px;
    
}

header a:hover{
    border:transparent;
    color: var(--tertiary-color-);

}

/* Header Style ENDS */

/* Middle Style Starts */

.middle {
    background-image: url(../images/background.jpeg);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 130px;
}

.middle h2{
    color: var(--tertiary-color-);
    background-color: var(--primary-color-);
    position: absolute;
    right: 0;
    border: 5px solid var(--tertiary-color-);
    border-right: 0 ;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* Middle Style ENDS */

/* Reusable Style Starts */
.section {
    background: var(--secondary-color-);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.section-title {
    border-right: solid var(--primary-color-);
    color: var(--primary-color-);
    min-height: 100%;
    flex: 1;
    margin: 20px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

.sub-section {
    background: var(--primary-color-);
    display: flex;
    margin: 20px;
    flex: 3;
    color: var(--tertiary-color-);
    
}
/* Reusable Style Ends */

/* About Me Style Starts */
.about-text p {
    padding: 7px;
    font-size: 17px;
}

.about-img{
    background-color: var(--secondary-color-);
    padding: 10px;
   
 }
 .about-img img {
     border-radius: 50%; 
     border: 5px double var(--primary-color-) ;
     max-height: 200px;
 }
 
 /* About Me Style ENDS */
 
 /* Work Style Starts */
.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--secondary-color-);
    
}
 .big-container  {
    position: relative;
}
.big-container img {
    max-width: 95%;
    border: 3px solid var(--primary-color-);
    margin-bottom: 10px;
    opacity: 0.75;
    
}
.big-container img:hover {
    opacity: 1;
}

.container {
    display: flex;
    position:relative;
    max-width:50%;
    justify-content: space-between;
}

.container img {
    max-width: 90%;
    padding: 3px;
    background: var(--primary-color-);
    margin-bottom: 20px;
    opacity: 0.75;
}

.container img:hover {
    opacity: 1;
}

.big-container-text, .container-text{
    position: absolute;
    background: var(--primary-color-);
    border: 10px solid  var(--primary-color-);
    left: 0px;
}

.big-container-text {
    bottom: 30px;
    padding-left: 30px;
}

.container-text {
    bottom: 40px;
    padding-left: 10px;
}
/* Work Style ENDS *?

/* Reach Out Style Starts */
.reach-out {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex: 3;
    color: var(--primary-color-);
    text-align: center;
}

.reach-out a {
    text-decoration: none;
    border-bottom: thin solid var(--primary-color-);
    color: inherit;
}

.reach-out a:hover {
    border: transparent;
    color: var(--tertiary-color-);
}
/* Reach Out Style ENDS */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1125px){
    header {
        justify-content: center;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px){
    header {
        display:block;
    }
 
    header a {
        padding:0;
        margin: 0;
    }
    
    .section {
        display: block;
    }

    .section-title {
        min-height: 0;
        text-align: center;
        padding: 10px;
        border-bottom:solid var(--primary-color-);
        border-right: transparent;
    }
    
    .sub-section {
        flex-direction: column;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){
    header h1 {
        font-size: 36px;
    }

    .middle h2 {
        font-size: 15px;
    }

    .big-container-text{
        font-size: 12px;
    }
    
    .container-text{
        font-size: 12px;
    }

    .reach-out a {
        font-size: 12px;
    }
}